<!-- Auto generate example -->
<html>
<body>
<!-- raw special text {{ '{{' }} {{'}}'}} {{ '{%' }} {{ '%}' }}-->

{% for aval in bigul %}
<ul {{ css.color }}>
{% for user in users %}
  <li><a href="{{ user.url }}">{{ aval }} {{ user.username }}</a></li>{% endfor %}
</ul>
{% endfor %}
<div>
{% block body %}
	I'm parent block  {% endblock %}
</div>
</body>
</html>
